<?xml version="1.0" encoding="utf-8" ?>
<!-- dotnet test settings for code coverage -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <!--
        Configure Coverlet to produce opencover for codecov+coveralls
        https://github.com/coverlet-coverage/coverlet/blob/v5.4.0/Documentation/VSTestIntegration.md#coverlet-options-supported-by-vstest-integration
      -->
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
