<?xml version="1.0" encoding="utf-8" ?>
<!-- dotnet test settings for code coverage -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <!--
        Configure Coverlet to produce lcov for codecov+coveralls
        https://github.com/coverlet-coverage/coverlet/blob/v5.4.0/Documentation/VSTestIntegration.md#coverlet-options-supported-by-vstest-integration
      -->
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>lcov</Format>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <!-- Uncomment to generate .trx files with test results.
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="trx">
        <Configuration>
          <!-
            Note: LogFilePrefix avoids overwriting trx in multi-target csproj:
            https://github.com/microsoft/vstest/issues/880
            https://github.com/microsoft/vstest/pull/2140
          ->
          <LogFilePrefix>results</LogFilePrefix>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
  -->
</RunSettings>
